<ion-header>
	<ion-navbar hideBackButton color="danger">
		<ion-title>
			NosferatuZ
		</ion-title>
	</ion-navbar>
</ion-header>

<!-- APRESENTAÇÃO E MESTRE -->
<ion-content padding>
	<div *ngIf="anoiteceu == true">
		<ion-card *ngIf="exibirApresentacao == true">
			<ion-card-header>
				<ion-card-title>Mestre</ion-card-title>
			</ion-card-header>
			<ion-card-content>
				Passe o celular para o mestre do jogo... {{jogadores[0].nome}}
				<br/>
					<ion-button ion-button (click)="comecarJogo()">
						Próximo
					</ion-button>
			</ion-card-content>
		</ion-card>

		<!-- JOGADOR X E CLICAR PARA EXIBIR FUNÇÃO -->
		<ion-card *ngIf="exibirFuncaoEscondida == true" class="arredondar">
			<ion-card-header>
				<ion-card-title>{{jogadorAtual.nome}}</ion-card-title>
			</ion-card-header>

			<ion-card-content *ngIf="exibirFuncaoPapel == false">
				texto
				<br/>
					<input type="checkbox" (click)="exibirPapelBt()">
      <br/>
      <ion-button ion-button *ngIf="exibirPapel == true" (click)="exibirDetalhes()">
        Exibir
      </ion-button>
		</ion-card-content>
	</ion-card>

<!-- DESCRIÇÃO DA FUNÇÃO -->
  <div *ngIf="exibirFuncaoPapel == true">
    <h2>{{jogadorAtual.papel.nome}}</h2>
    {{jogadorAtual.papel.descricao}} ... descrição da função
    <ion-row *ngIf="semAcao == false">
      <ion-item no-lines class="item-checkbox" *ngFor="let j of jogadores" style="width: 33%">
        <ion-col style="padding: 0px; margin: 0px;" *ngIf="j.exibir == true">
          <div class="item item-thumbnail-left">
            <img *ngIf="j.selecionado == true" (click)="selecionar(j)" src="{{j.foto}}" style="width: 40px; height: 40px; border-radius: 25px; padding: 0px; margin: 0px; border: 1px solid black; background-color: SlateGray; position:relative; opacity: 0.60; z-index: 2;">

            <img *ngIf="j.selecionado == false" (click)="selecionar(j)" src="{{j.foto}}" style="width: 40px; height: 40px; border-radius: 25px; padding: 0px; margin: 0px">
            <br/>
            <output style="font-size: 10px; padding: 0px; margin: 0px">
            {{j.nome}}
            </output>
          </div>
        </ion-col>
      </ion-item>
    </ion-row>
  </div>

  <!-- <ion-button ion-button *ngIf="exibirFuncaoPapel == true && semAcao == true" (click)="proximo()"> -->
  <ion-button ion-button *ngIf="exibirFuncaoPapel == true" (click)="proximo()">
    Passar
  </ion-button>

  <ion-button ion-button *ngIf="exibirFuncaoPapel == true && matar == true" (click)="matarVampiro()">
    Matar
  </ion-button>

  <ion-button ion-button *ngIf="exibirFuncaoPapel == true && revelar == true" (click)="revelarPapel()">
    Revelar
  </ion-button>
  <br/>

  <div *ngIf="revelandoJogador == true">
    O jogador {{revelarJogador[0].nome}} é {{revelacao}}
    <br/>
    <ion-button ion-button (click)="proximo()">
      Passar
    </ion-button>
  </div>
</div>

<!-- AMANHECEU -->
<div *ngIf="amanheceu == true">
  AMANHECEU... <br/>
  entregue o aparelho para o mestre do jogo...
  <br/>
  <ion-button ion-button (click)="revelarVitimas()">
    Passar
  </ion-button>
</div>

<!-- RELATORIO QUEM -->
<div *ngIf="exibirVitimas == true">
  Vitimas desta noite...
  <br/>
  {{relatorioNoite}}
  <br/>

  <ion-button ion-button (click)="start()">
    Discussão
  </ion-button>

  <p>{{_minutos}}:{{_segundos}}</p>
</div>
</ion-content>